html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background: #50b9f2;
    background: linear-gradient(90deg, rgba(80, 185, 242, 1) 0%, rgba(87, 199, 133, 1) 38%, rgba(237, 221, 83, 1) 70%);
}
main {
    max-width: 765px;
    margin: 0 auto;
}
h1 {
    color:darkgreen;
    margin-top: 80px;
}
h2 {
    color: #1460aa;
}
.section {
    background-color: #cdc1f8 ;
}
.section__header {
    color:blueviolet;
}
.section__image {
    max-width: 100%;
    display: block;
}
.navigation {
    background-color: #1460aa;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.navigation__link {
    color: white;
    text-decoration: none;
}
.header {
    position: sticky;
    top: 0;
}
.footer {
    max-width: 765px;
    margin: 0 auto;
}